.course-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 20px rgba(0,0,0,0.03);
  transition: all 0.2s;
}
.course-card:hover {
  box-shadow: 0 13px 20px rgba(0,0,0,0.08);
}
.course-card .card-container {
  padding: 7px;
  background: #c8d2db56;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.course-card .img-container {
  width: 100%;
  height: 110px;
  background: #f2f5f8;
  border-radius: 10px 10px 0 0;
}
.course-card .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.course-card .info-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  min-height: 170px;
  background: #fff;
  border-radius: 0 0 10px 10px;
}
.course-card .info-container > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.course-card .info-container small.category-badge {
  font-size: 11px;
  color: #fff;
  border-radius: 5px;
  background: var(--color);
  padding: 2px 4px;
}
.course-card .info-container small.purchased-badge {
  font-size: 11px;
  color: var(--color);
  font-weight: 600;
}
.course-card .info-container small.purchased-badge i {
  margin-right: 5px;
}
.course-card .info-container h6 {
  color: #aaa;
}
.course-card .info-container h4 {
  color: #333;
  font-size: 19px;
  min-height: 52px;
}
.course-card .toolbar small {
  color: #aaa;
  font-size: 11px;
}
.course-card .meta-info-container {
  margin-top: 5px;
}
.course-card .meta-info-container > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.course-card .meta-info-container small {
  margin-left: 5px;
  color: var(--graytxt)
}
.course-card .meta-info-container .ratingscont i {
  font-size: 12px;
}
.course-card .meta-info-container small.cost-type {
  font-size: 11px;
  color: #fff;
  border-radius: 5px;
  padding: 2px 4px;
  text-transform: capitalize;
}
.course-card .toolbar {
  margin-top: 7px;
}
.course-card .toolbar .side {
  display: flex;
  align-items: center;
  gap: 5px;
}
.course-card .toolbar .side button.icon-container {
  width: 24px;
  height: 24px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.2s;
}
.course-card .toolbar .side button.icon-container:hover {
  filter: brightness(115%)
}
.course-card .toolbar .side button.icon-container:active {
  transform: scale(0.92);
}
.course-card .toolbar .side button.icon-container i {
  font-size: 9.5px;
  color: #fff;
}