.lesson-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
  transition: all 0.2s;
  cursor: pointer;
}
.lesson-item-row:hover,
.lesson-item-row.active {
  background: var(--lightestblue)
}
.lesson-item-row .side {
  display: flex;
  align-items: center;
  gap: 20px;
}
.lesson-item-row h6 {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.lesson-item-row .side i {
  color: var(--color);
}
.lesson-item-row small {
  color: #777;
}