.home-container {
  background: #fafafa;
  overflow: hidden;
  height: 100vh;
  transition: all 0.1s;
}
.app-window {
  width: 100%;
  height: 100%;
  /* padding: 100px 30px 5px 30px; */
  overflow: scroll;
  transition: all 0.3s;
}