.home-container {
  background: #fafafa;
  padding: 100px 20px 5px 20px;
  overflow: hidden;
  height: 100vh;
}
.app-window {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 0 20px;
  transition: all 0.3s;
}