.course-page {
  display: flex;
  flex-direction: column;
}
.course-page header.banner {
  width: 100%;
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.course-page header.banner .edit-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.4;
  color: var(--color);
  cursor: pointer;
  transition: all 0.2s;
  z-index: 100;
}
.course-page header.banner:hover .edit-icon {
  opacity: 1;
}
.course-page header.banner > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 30px;
}
.course-page header.banner > div small {
  background: var(--color);
  border-radius: 5px;
  padding: 2px 4px;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}
.course-page header.banner h1 {
  color: #333;
}
.course-page header.banner h5 {
  font-size: 16px;
  color: #555;
  font-weight: 500;
}
.course-page header.banner img.cover-img  {
  width: 400px;
  opacity: 1;
  border-radius: 10px;
}
.course-page .info-container .instructor-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.course-page .info-container .instructor-row h6 {
  font-size: 14px;
  color: #555;
}
.course-page .info-container .instructor-row .title {
  flex-basis: 100%;
  color: #333;
  font-weight: 600;
}
.course-page .info-container .instructor-row img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.course-page .info-container .instructor-row hr {
  width: 1px;
  height: 20px;
  background: var(--graytxt);
  opacity: 0.3;
}
.course-page .info-container .instructor-row span {
  font-size: 14px;
  color: var(--color)
}
.course-page .course-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  gap: 40px;
  padding: 40px 0;
}
.course-page .course-content section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.course-page .course-content section h3 {
  font-size: 27px;
  color: #333;
  margin-bottom: 20px;
}
.course-page .course-content section p.course-description {
  font-size: 15.5px;
  color: #555;
  line-height: 2;
}
.course-page .course-content .text-container {
  width: 1400px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
}
.course-page .course-content .text-container .list-elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.course-page .course-content .text-container .list-elements i {
  color: var(--color);
  margin-right: 15px;
  font-size: 17px;
}

.course-page .course-content .course-info-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.course-page .course-info {
  background: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  border: 1px solid rgba(200,200,200,0.15);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
}
.course-page .course-info .header {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.course-page .course-info .header h4 {
  color: #333;
  font-weight: 600;
  font-size: 23px;
}
.course-page .course-info .header big {
  color: var(--color);
  font-weight: 700;
  font-size: 27px;
}
.course-page .course-info .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.course-page .course-info .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-page .course-info .row h5 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #777;
  font-size: 16px;
}
.course-page .course-info .row h5 i {
  color: #666;
}
.course-page .course-info .row span {
  font-size: 14px;
  color: #555;
  text-transform: capitalize;
}
.course-page .course-info .share-container {
  margin-top: 50px;
  margin-bottom: 20px;
}
.course-page .course-info .share-container h5 {
  font-size: 17px;
  color: #333;
  font-weight: 700;
}
.course-page .course-info .socials-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}
.course-page .course-info .socials-container .social-icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.course-page .course-info .socials-container .social-icon i {
  color: #fff;
  font-size: 17px;
}
.course-page .course-info button.enrollbtn {
  margin-top: 30px;
  background: var(--blueGradient);
  padding: 16px;
  font-size: 18px;
  width: 160px;
  box-shadow: var(--blueShadow);
}
.course-page .course-info button.enrollbtn i {
  margin-left: 10px;
  left: 0;
  transition: all 0.2s;
}
.course-page .course-info button.enrollbtn:hover i {
  left: 10px;
}
.course-page .course-info button.enrollbtn.enrolled:hover i {
  left: 0;
}
.course-page .course-info button.enrollbtn.enrolled:active {
  transform: scale(1)
}
.course-page .instructor-container {
  padding: 30px;
  border-radius: 10px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.course-page .instructor-container > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.course-page .instructor-container img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
}
.course-page .instructor-container .instructor-info {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}
.course-page .instructor-container .instructor-info h2 {
  color: #333;
}
.course-page .instructor-container .instructor-info h5 {
  font-weight: 500;
  font-size: 16px;
}
.course-page .instructor-container .instructor-data {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
}
.course-page .instructor-container .instructor-data > div {
  display: flex;
  flex-direction: column;
}
.course-page .start-course-btn {
  padding: 15px;
  margin-top: -30px;
}
.course-page .instructor-container .instructor-data big {
  font-size: 26px;
  font-weight: 600;
  color: #444;
}
.course-page .instructor-container .instructor-data span {
  color: #555;
}
.course-page .instructor-container .instructor-bio p {
  line-height: 1.7;
  text-align: left;
  margin-left: 0;
  color: #444;
}

.course-page .quiz-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.course-page .quiz-section .quiz-scroll-ref {
  position: absolute;
  top: -70px;
  visibility: hidden;
}
.course-page .quiz-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.course-page .create-quiz-btn {
  padding: 15px 25px;
  font-size: 15px;
}

@media (max-width: 1370px) {
  .course-page .course-content {
    flex-direction: column-reverse;
  }
  .course-page .course-info-container {
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .course-page .course-content .text-container {
    width: 100%;
    min-width: 100%;
  }
  .course-page .course-info-container .course-info {
    width: 100%;
  }
}