.create-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.create-page > h3 {
  font-size: 20px;
  color: #333;
}
.create-page .create-flex {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.create-page .create-poster {
  padding: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  background: #f1f1f1;
  border: 1px solid rgba(200,200,200,0.2);
  width: 420px;
  cursor: pointer;
  transition: all 0.2s;
}
.create-page .create-poster .side {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.create-page .create-poster:hover {
  background: var(--color);
}
.create-page .create-poster:hover .hover-to-white {
  color: #fff;
}
.create-page .create-poster h2 {
  color: #333;
  margin-bottom: 20px;
}
.create-page .create-poster .features {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-bottom: 20px;
}
.create-page .create-poster .features h5 {
  font-size: 15px;
  color: var(--graytxt);
  font-weight: 600;
  display: flex;
  align-items: flex-start;
}
.create-page .create-poster .features h5 i {
  margin-right: 15px;
  color: var(--color);
  top: 2px;
}
.create-page .create-poster:hover .features h5 i {
  color: #fff;
}
.create-page .create-poster .side > h6 {
  font-size: 14px;
  font-weight: 600;
  color: var(--graytxt);
}
.create-page .create-poster button {
  padding: 15px 25px;
}
.create-page .create-poster:hover button {
  background: none;
  color: #fff;
}
.create-page .create-poster button:hover {
  background: #fff;
  color: var(--color);
}
.create-page .create-poster button i {
  margin-left: 10px;
  left: 0;
  transition: all 0.3s;
}
.create-page .create-poster button:hover i {
  left: 10px;
}