.create-course-page {
  display: grid;
  grid-template-columns: auto 300px;
}
.create-course-page .create-content {
  height: 87vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.create-course-page .create-content > h3 {
  text-transform: capitalize;
  font-size: 23px;
  color: #333;
  margin-bottom: 10px;
}
.create-course-page .video-type-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 10px 30px;
  width: 800px;
}
.create-course-page .create-title {
  grid-column: 1/-1;
  font-size: 16px;
  color: #333;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.create-course-page .type-box {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  border-radius: 10px;
  transition: all 0.2s;
  cursor: pointer;
  border: 2px solid #eee;
}
.create-course-page .type-box:hover,
.create-course-page .type-box.active {
  background: var(--lightestblue);
  border-color: var(--color);
}
.create-course-page .type-box:hover i.main-icon,
.create-course-page .type-box:hover h4,
.create-course-page .type-box.active i.main-icon,
.create-course-page .type-box.active h4 {
  color: var(--color);
}
.create-course-page .type-box i.main-icon {
  font-size: 23px;
  color: #777;
  transition: all 0.2s;
}
.create-course-page .type-box h4 {
  font-size: 17px;
  font-weight: 600;
  color: #aaa;
  transition: all 0.2s;
}
.create-course-page .type-box i.check-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.create-course-page .type-box.active i.check-icon {
  opacity: 1;
  visibility: visible;
  color: var(--color);
}
.create-course-page .course-info {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 800px;
}
.create-course-page .course-info .commoninput {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.create-course-page .course-info .commoninput h6 {
  font-size: 16px;
  color: var(--graytxt);
  top: 3px;
}
.create-course-page .course-info .commoninput input,
.create-course-page .course-info .commoninput select,
.create-course-page .course-info .commoninput textarea {
  border: 1px solid rgba(200,200,200,0.2);
  flex-basis: 60%;
  font-size: 14px;
}
.create-course-page textarea {
  resize: vertical;
  min-height: 120px;
  max-height: 200px;
}
.create-course-page label.upload-container {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background: #f1f1f1;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: background-color 0.2s;
}
.create-course-page label.upload-container:hover {
  background-color: #eee;
}
.create-course-page .upload-container i {
  font-size: 23px;
  color: #aaa;
}
.create-course-page .course-info > h6 {
  font-size: 16px;
  color: var(--graytxt);
  margin-bottom: 10px;
}
.create-course-page .course-info .appswitch {
  padding: 20px 0;
}
.create-course-page .create-nav {
  width: 100%;
  margin: 0px 0;
  border-top: 1px solid #eee;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.create-course-page .create-nav button:not(.create-course-btn) {
  padding: 10px 20px;
  background: none;
  color: var(--color);
  font-size: 15px;
}
.create-course-page .create-nav button:hover:not(.create-course-btn) {
  background: var(--lightestblue)
}
.create-course-page .create-nav button.disable {
  pointer-events: none;
  opacity: 0.4;
}
.create-course-page .slide-container {
  margin-top: 30px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
}
.create-course-page .slide-container::-webkit-scrollbar {
  width: 5px;
}
.create-course-page .slide-element {
  width: 0;
  left: 50%;
  opacity: 0;
  transition: left 0.4s, opacity 0.3s;
  transition-delay: 0s;
}
.create-course-page .slide-element.prev {
  left: -100%;
  width: 0;
  transition-delay: 0s;
}
.create-course-page .slide-element.active {
  left: 0;
  width: 100%;
  opacity: 1;
  transition-delay: 0.4s;
}
.create-course-page .add-lessons-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.create-course-page .lesson-input-generator {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.create-course-page .lesson-input-generator input {
  height: 100%;
  flex-basis: calc(100% - 50px);
  font-size: 15px;
}
.create-course-page .lesson-input-generator .icon-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  cursor: pointer;
  transition: all 0.2s;
}
.create-course-page .lesson-input-generator .icon-container:hover {
  background: var(--lightestblue);
}
.create-course-page .lesson-input-generator .icon-container:hover i {
  color: var(--color);
}
.create-course-page .lesson-input-generator .icon-container i {
  color: #777;
}
.create-course-page .add-lessons-container .added-lessons {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.create-course-page .added-lessons .app-accordion .init-component {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
.create-course-page .added-lessons .app-accordion .init-component h5 {
  color: #777;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s;
}
.create-course-page .added-lessons .app-accordion .init-component h5 i {
  margin-right: 7px;
  transition: all 0.2s;
}
.create-course-page .added-lessons .app-accordion .init-component h5:hover {
  color: var(--color);
}
.create-course-page .slide-container .app-modal .form {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 30px;
  width: 100%;
} 
.create-course-page .slide-container .app-modal .form .commoninput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.create-course-page .slide-container .app-modal .form.single-columns .commoninput {
  grid-column: 1/-1;
}
.create-course-page .slide-container .app-modal .form .commoninput h6 {
  font-size: 13px;
  color: #444;
}
.create-course-page .slide-container .app-modal .form .fileinput input[type="file"] {
  display: none;
}
.create-course-page .slide-container .app-modal .form .fileinput.disabled .icon-container {
  opacity: 0.4;
  pointer-events: none;
}
.create-course-page .slide-container .app-modal .form .fileinput .icon-container {
  width: 100%;
  padding: 10px;
  background: var(--lightestblue);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}
.create-course-page .slide-container .app-modal .form .fileinput .icon-container small {
  color: #333;
}
.create-course-page .slide-container .app-modal .form .fileinput i {
  font-size: 20px;
  color: var(--color);
}
.create-course-page .slide-container .app-modal .form input,
.create-course-page .slide-container .app-modal .form select,
.create-course-page .slide-container .app-modal .form textarea {
  border-width: 2px;
  width: 100%;
}
.create-course-page .slide-container .app-modal .form a {
  color: var(--color);
  font-size: 14px;
  background: var(--lightestblue);
  padding: 10px;
  width: 150px;
  transition: all 0.2s;
}
.create-course-page .slide-container .app-modal .form a:hover {
  filter: brightness(95%)
}
.create-course-page .slide-container .app-modal .form a i {
  margin-right: 5px;
}
.create-course-page .slide-container .app-modal .form .seperator {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #777;
}
.create-course-page .slide-container .app-modal .form .seperator hr {
  height: 1px;
  background: #eee;
  flex-basis: 30%;
}
.create-course-page .course-review-container {
  width: 800px;
  display: flex;
  flex-direction: column;
}
.create-course-page .course-review-container .review-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 0;
}
.create-course-page .course-review-container .review-row h6 {
  font-size: 15px;
  color: #555;
  flex-basis: 20%;
  font-weight: 800;
}
.create-course-page .course-review-container .review-row span {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  text-transform: capitalize;
  text-align: right;
  word-break: keep-all;
  flex-basis: 70%;
  line-height: 1.5;
}  
.create-course-page .course-review-container .app-accordion .init-component {
  display: none;
}
.create-course-page button.create-course-btn {
  padding: 15px 20px;
  font-size: 15px;
}
.create-course-page button.create-course-btn.disabled {
  opacity: 0.4;
}
.create-course-page button.create-course-btn i {
  margin-left: 10px;
  left: 0;
  transition: all 0.3s;
}
.create-course-page button.create-course-btn:hover i {
  left: 7px;
}

.create-course-page .side-bar {
  height: 87vh;
  border-left: 1px solid #eee;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.create-course-page .side-bar > div {
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.create-course-page .side-bar > div:last-of-type {
  border: none;
}
.create-course-page .side-bar > div > h5 {
  font-size: 14px;
}
.create-course-page .side-bar > div > h5 span {
  color: #aaa;
  font-weight: 600;
}

@media (max-width: 1550px) {
  .create-course-page .course-review-container,
  .create-course-page .add-lessons-container,
  .create-course-page .course-info,
  .create-course-page .video-type-container {
    width: 98%;
  }
}
@media (max-width: 1200px) { 
  .create-course-page {
    grid-template-columns: auto;
    grid-gap: 30px;
  }
  .create-course-page .side-bar {
    border-left: 0;
  }
}