.instructor-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
}
.instructor-page .profile-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
}
.instructor-page .profile-row img.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: var(--shadow);
}
.instructor-page .profile-row .instructor-info {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.instructor-page .profile-row .instructor-info h1 {
  font-size: 30px;
  color: #333;
}
.instructor-page .profile-row .instructor-info h5 {
  font-size: 16px;
  color: #777;
  font-weight: 500;
}
.instructor-page .profile-row .instructor-info h4 {
  margin-top: 25px;
  color: #333;
}
.instructor-page .profile-row .instructor-info p {
  margin-top: 5px;
  color: #444;
}
.instructor-page .profile-row hr {
  width: 1px;
  background: #eee;
}
.instructor-page .profile-row .socials-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.instructor-page .social-links-section {
  margin-bottom: 20px;
}
.instructor-page .socials-section h5 {
  font-size: 15px;
  color: #555;
  font-weight: 600;
  transition: all 0.2s;
  cursor: pointer;
}
.instructor-page .socials-section h5:hover {
  text-decoration: underline;
  color: var(--color);
}
.instructor-page .socials-section button {
  margin-top: 20px;
  padding: 15px 25px;
}
.instructor-page .socials-section button i {
  margin-left: 10px;
}
.instructor-page .profile-row .socials-section .fa-user-friends {
  margin-right: 10px;
}
.instructor-page .instructor-stats-container {
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  background: var(--color);
  border-radius: 10px;
  padding: 30px;
}
.instructor-page .instructor-stats-container hr {
  height: 110px;
  width: 1px;
  background: rgba(255,255,255,0.2);
}
.instructor-page .instructor-stats-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.instructor-page .instructor-stats-container big {
  color: #fff;
  font-size: 38px;
  font-weight: 600;
}
.instructor-page .instructor-stats-container h5 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.instructor-page .courses-grid-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  padding-bottom: 30px;
}
.instructor-page .courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 20px;
}
.instructor-page .courses-grid-container > h3 {
  margin: 20px 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: var(--graytxt);
}

.instructor-page .app-modal .followers-flex {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px 20px;
  flex-wrap: wrap;
}
.instructor-page .app-modal .followers-flex .student-avatar h5 {
  font-size: 15px;
  color: #444;
}

.instructor-page .instructor-reviews {
  width: 700px;
}
.instructor-page .instructor-reviews .titles h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: var(--graytxt);
}
.instructor-page .instructor-reviews .titles h5 {
  color: #444;
  font-weight: 600;
}

.instructor-page .add-comment-container {
  width: 700px;
  margin-top: 40px;
}
.instructor-page .add-comment-container h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: var(--graytxt);
}


@media (max-width: 1400px) {
  .instructor-page .profile-row hr {
    display: none;
  }
}

@media (max-width: 820px) {
  .instructor-page .instructor-reviews,
  .instructor-page .add-comment-container {
    width: 95%;
  }
}

@media (max-width: 585px) {
  .instructor-page .instructor-stats-container {
    flex-direction: column;
    gap: 60px;
  }
  .instructor-page .instructor-stats-container hr {
    display: none;
  }
}