.my-students-page {
  width: 100%;
  display: grid;
  grid-template-columns: 420px auto;
  grid-gap: 40px;
}
.my-students-page .side-bar {
  height: calc(100vh - 130px);
  width: 100%;
  border-radius: 10px;
  background: var(--color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.my-students-page .side-bar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.my-students-page .side-bar header h3 {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
.my-students-page .side-bar header small {
  color: #eee;
}
.my-students-page .side-bar .courses-list {
  display: flex;
  flex-direction: column;
}
.my-students-page .side-bar .courses-list span {
  color: #fff;
}
.my-students-page .side-bar .courses-list .course-row {
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
  cursor: pointer;
}
.my-students-page .side-bar .courses-list .course-row:hover,
.my-students-page .side-bar .courses-list .course-row.active {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
}
.my-students-page .side-bar .courses-list .course-row:hover i,
.my-students-page .side-bar .courses-list .course-row.active i {
  left: 0;
}
.my-students-page .side-bar .courses-list .course-row:first-child {
  border-top: 1px solid rgba(255,255,255,0.3);
}
.my-students-page .side-bar .courses-list .course-row h4 {
  color: #fff;
  font-weight: 500;
}
.my-students-page .side-bar .courses-list .course-row i {
  color: #fff;
  left: -5px;
  transition: all 0.3s;
}

.my-students-page .main-content {
  height: calc(100vh - 130px);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.my-students-page .main-content > h3 {
  color: #444;
  font-size: 20px;
}
.my-students-page .main-content .students-flex {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.my-students-page .main-content .students-flex > span {
  color: var(--graytxt);
}
.my-students-page .main-content section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.my-students-page .main-content section h2 {
  color: #444;
}
.my-students-page .main-content .student-avatar small {
  color: var(--color);
  cursor: pointer;
}

.my-students-page .slide-bar {
  position: fixed;
  top: 80px;
  right: -120%;
  width: 500px;
  height: calc(100vh - 80px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.05);
  border-radius: 10px 0 0 10px;
  background: #fff;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: right 0.3s;
  overflow-y: overlay;
}
.my-students-page .slide-bar::-webkit-scrollbar {
  display: none;
}
.my-students-page .slide-bar:hover::-webkit-scrollbar {
  display: block;
}
.my-students-page .slide-bar.open {
  right: 0;
}
.my-students-page .slide-bar header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.my-students-page .slide-bar header img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.my-students-page .slide-bar header h3 {
  margin-top: 10px;
  color: #333;
}
.my-students-page .slide-bar header h4 {
  color: var(--graytxt);
  font-weight: 500;
}
.my-students-page .slide-bar section {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.my-students-page .slide-bar section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.my-students-page .slide-bar section > h3 {
  color: #444;
  font-weight: 600;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  flex-basis: 100%;
  width: 100%;
}
.my-students-page .slide-bar section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-students-page .slide-bar section > div h6 {
  font-size: 14px;
  color: #444;
  font-weight: 600;
}
.my-students-page .slide-bar section > div span {
  font-size: 14px;
}
.my-students-page .slide-bar section .badge {
  padding: 4px;
  border-radius: 5px;
  background: var(--lightestblue);
  color: var(--color);
  font-size: 12px;
}
.my-students-page .slide-bar section .appselect select {
  height: 35px;
  width: 150px;
  padding: 5px 10px;
}
.my-students-page .slide-bar .info-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 10px;
}
.my-students-page .slide-bar .info-row.column {
  flex-direction: column;
}
.my-students-page .slide-bar .info-row.column > div {
  flex-direction: column;
}
.my-students-page .slide-bar .info-row > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.my-students-page .slide-bar .info-row h5 {
  font-size: 16px;
  color: #444;
  font-weight: 600;
}
.my-students-page .slide-bar .info-row h5 i {
  margin-right: 8px;
}
.my-students-page .slide-bar .info-row span {
  color: #aaa;
  font-weight: 500;
  font-size: 14px;
}
.my-students-page .slide-bar .info-row a {
  color: var(--color);
  font-size: 14px;
}
.my-students-page .side-bar .close-container {

}
.my-students-page .slide-bar .close-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
  background: #eee;
}
.my-students-page .slide-bar .close-container i {
  color: #777;
  font-size: 25px;
}
.my-students-page .slide-bar .close-container:hover {
  background: var(--lightestblue);
}
.my-students-page .slide-bar .close-container:hover i {
  color: var(--color);
}


@media(max-width: 1150px) {
  .my-students-page {
    grid-template-columns: auto;
  }
  .my-students-page .side-bar {
    height: auto;
    padding-bottom: 30px;
  }
}

@media(max-width: 450px) {
  .my-students-page .slide-bar {
    right: -150%;
    width: 100%;
  }
}