.quiz-results-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.quiz-results-page header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 30px;
  width: 100%;
  background: #f5f5f5;
  border-radius: 10px;
}
.quiz-results-page header > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.quiz-results-page header h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.quiz-results-page header big {
  font-size: 22px;
  color: var(--color);
  text-transform: uppercase;
  font-weight: 600;
}
.quiz-results-page header h4 {
  font-size: 25px;
  color: var(--graytxt);
  font-weight: 700;
}
.quiz-results-page header span {
  font-weight: 500;
  color: #999;
  margin-left: 10px;
}
.quiz-results-page header img {
  width: 200px;
}
.quiz-results-page header small {
  color: #777;
}
.quiz-results-page .btn-group {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.answers-container {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 800px;
}
.answers-container h3 {
  font-size: 24px;
  color: var(--graytxt);
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .quiz-results-page {
    align-items: center;
  }
  .answers-container {
    width: 95%;
  }
  .answers-container > h3 {
    text-align: center;
  }
}