.welcome-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.welcome-page .banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.welcome-page .banner .img-container {
  width: 600px;
}
.welcome-page .banner .text-container {
  margin-top: 50px;
}
.welcome-page .banner .img-container .blob {
  position: absolute;
  top: -90px;
  right: 0;
  height: 700px;
  filter: drop-shadow(0 15px 15px rgba(47, 81, 232, 0.4));
}
.welcome-page .banner .img-container .welcome-img {
  z-index: 10;
  width: 80%;
  top: 40px;
  filter: drop-shadow(-5px 10px 15px rgba(0,0,0,0.3));
}
.welcome-page .banner h6 {
  color: var(--graytxt);
  font-weight: 500;
  font-size: 20px;
}
.welcome-page .banner h1 {
  font-size: 65px;
  color: #333;
  font-weight: 500;
}
.welcome-page .banner h1 span {
  color: var(--color);
  font-weight: 700;
}
.welcome-page .banner p {
  width: 500px;
  color: #555;
}
.welcome-page .banner .btn-group {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.welcome-page .banner .btn-group button {
  padding: 15px 20px;
}
.welcome-page .banner .btn-group button:nth-of-type(2) {
  background: none;
  color: var(--color);
  border-color: var(--color);
}
.welcome-page .banner .btn-group button:nth-of-type(2):hover {
  background: var(--color);
  color: #fff;
}
.welcome-page section.discover {
  margin-top: 150px;
  width: 100%;
}
.welcome-page section.discover h4 {
  font-size: 20px;
  color: #555;
  margin-bottom: 30px;
}
.welcome-page .discover-flex {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.welcome-page footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  margin-bottom: 30px;
  gap: 10px;
}
.welcome-page footer img {
  width: 450px;
  filter: drop-shadow(0 13px 3px rgba(0,0,0,0.15))
}
.welcome-page footer h2 {
  font-size: 40px;
  color: #555;
  margin-top: 20px;
}
.welcome-page footer p {
  font-size: 18px;
  color: #555;
}
.welcome-page footer button {
  margin-top: 20px;
  padding: 15px 30px;
}