.social-links-section {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.social-links-section .social-circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.social-links-section .social-circle:hover {
  background: var(--color);
}
.social-links-section .social-circle:hover i {
  color: #fff;
}