.sidebar {
  background: var(--bg);
  height: 100vh;
  overflow:hidden;
  border-right: 1px solid rgba(200,200,200,0.1);
  z-index: 1100;
}
.sidebar .sidebar-scroll {
  height: 100%;
  padding: 30px 20px 30px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.sidebar .logo-container {
  width: 100%;
  gap: 18px;
}
.sidebar .logo-container img {
  width: 30px;
}
.sidebar .logo-container h3 {
  text-transform: capitalize;
  font-size: 21px;
  color: #555;
}
.sidebar .logo-container h3 span {
  color: var(--color);
}
.sidebar .menu {
  margin: 50px 0;
  gap: 5px;
}
.sidebar .menu .menu-item {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 175px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.sidebar .menu .menu-item .titles {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sidebar .menu .menu-item i {
  font-size: 20px;
  color: var(--color);
  transition: all 0.2s;
}
.sidebar .menu .menu-item i.open {
  transform: rotate(180deg)
}
.sidebar .menu .menu-item h6 {
  font-size: 15px;
  color: var(--graytxt);
}
.sidebar .menu .active-menu-link {
  background: var(--color);
  box-shadow: var(--blueShadow);
  border-radius: 10px;
}
.sidebar .menu .active-sub-menu-link h6 {
  color: var(--color);
}
.sidebar .menu .menu-item:hover {
  background: var(--color);
}
.sidebar .menu .menu-item:hover i,
.sidebar .menu .active-menu-link i {
  color: #fff;
}
.sidebar .menu .menu-item:hover h6,
.sidebar .menu .active-menu-link h6 {
  color: #fff;
  font-weight: 500;
}
.sidebar .menu .sub-menu-link hr {
  position: absolute;
  height: 125%;
  width: 1px;
  background: var(--color);
  left: -5px;
  opacity: 0.2;
}
.sidebar .menu .sub-menu-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 0;
  transition: all 0.3s;
  overflow: hidden;
  padding-left: 20px;
}
.sidebar .menu .sub-menu-container.open {
  max-height: 300px;
}

.sidebar .instructor-container {
  width: 100%;
  height: 170px;
  margin-top: 60px;
  padding: 20px;
  border-radius: 15px;
  background: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  box-shadow: var(--blueShadow)
}
.sidebar .instructor-container img {
  width: 100%;
  margin-top: -95px;
  z-index: 10;
}
.sidebar .instructor-container button {
  background: none;
  border: 1px solid #fff;
  padding: 13px;
  z-index: 20;
  font-size: 14px;
}
.sidebar .instructor-container button:hover {
  background: #fff;
  color: var(--color);
  box-shadow: 0 7px 15px rgba(255,255,255,0.2);
}
.sidebar .instructor-container .square {
  width: 150px;
  height: 150px;
  background: rgba(255,255,255,0.07);
  border-radius: 40%;
  position: absolute;
  bottom: -60px;
  left: -50px;
  transform: rotate(35deg);
}
.sidebar .close-container {
  display: none;
}

@media (max-width: 1080px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -75vw;
    width: 70vw;
    transition: all 0.3s;
    z-index: 1100;
  }
  .sidebar.open {
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: 0 10px 15px 6px rgba(0,0,0,0.1);
    transition: all 0.3s;
  }
  .sidebar .instructor-container img {
    width: 200px;
  }
  .sidebar .sidebar-scroll {
    align-items: flex-start;
  }
  .sidebar .logo-container {
    justify-content: flex-start;
  }
  .sidebar .close-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    background: #f1f1f1;
  }
  .sidebar .close-container i {
    font-size: 25px;
    color: #aaa;
  }
  .sidebar .close-container:hover {
    background: var(--lightestblue);
  }
  .sidebar .close-container:hover i {
    color: var(--color);
  }

}