.admin-page .admin-section .table {
  margin-top: 20px;
}
.admin-page .admin-section .table header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.admin-page .admin-section .table header h5 {
  color: var(--graytxt);
  flex-basis: 10%;
}
.admin-page .admin-courses .table header h5:last-child {
  flex-basis: 30px;
}
.admin-page .admin-section .table .body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  margin-top: 20px;
}
.admin-page .admin-section .table .admin-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.admin-page .admin-section .table .admin-row h6 {
  font-size: 14px;
  color: #444;
  font-weight: 600;
  flex-basis: 10%;
}
.admin-page .admin-section .table .admin-row h6.capitalize {
  text-transform: capitalize
}
.admin-page .admin-section .table .admin-row h6.status span {
  color: var(--color);
  text-transform: capitalize;
  padding: 4px 8px;
  border-radius: 5px;
  background: var(--lightestblue);
  cursor: pointer;
}
.admin-page .admin-section .table .admin-row h6:hover i {
  opacity: 1;
}
.admin-page .admin-section .table .admin-row h6 i {
  margin-left: 10px;
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
  color: var(--color);
  padding: 4px;
}
.admin-page .admin-section .table .admin-row a:hover {
  color: var(--color)
}
.admin-page .admin-section .table .admin-row input {
  width: 15px;
  height: 15px;
  flex-basis: 50px;
}
.admin-page .admin-section .table .ratingscont small {
  color: #777;
  margin-left: 5px;
}
.admin-page .admin-section .table .ratingscont i {
  font-size: 13px;
}
.admin-page .admin-section .table .admin-row h6.long,
.admin-page .admin-section .table header h5.long {
  flex-basis: 300px;
}
.admin-page .admin-section .table .admin-row h6.medium,
.admin-page .admin-section .table header h5.medium {
  flex-basis: 220px;
}
.admin-page .admin-section .table .ratingscont {
  flex-basis: 10%;
}

.admin-courses {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.admin-courses .course-categories {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}
.admin-courses .category-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  transition: all 0.2s;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.admin-courses .category-row:hover {
  background: #f5f5f5;
}
.admin-courses .category-row h6 {
  font-size: 16px;
  font-weight: 600;
  color: var(--graytxt);
  text-transform: capitalize;
}
.admin-courses .category-row h6 i {
  color: var(--color);
  margin-right: 10px;
}
.admin-courses .category-row > i {
  color: var(--color);
  opacity: 0.5;
  transition: all 0.2s;
}
.admin-courses .category-row:hover > i {
  opacity: 1;
}
.admin-courses .category-input-generator {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}
.admin-courses .category-input-generator input {
  height: 100%;
  flex-basis: calc(100% - 50px);
  font-size: 15px;
}
.admin-courses .category-input-generator .icon-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  cursor: pointer;
  transition: all 0.2s;
}
.admin-courses .category-input-generator .icon-container:hover {
  background: var(--lightestblue);
}
.admin-courses .category-input-generator .icon-container:hover i {
  color: var(--color);
}
.admin-courses .category-input-generator .icon-container i {
  color: #777;
}
.admin-courses .app-modal input {
  text-transform: capitalize;
}
.admin-courses .app-modal .btn-group {
  display: flex;
  align-items: center;
  gap: 20px;
}
.admin-courses .app-modal .btn-group button:last-child {
  background: var(--red);
}

.admin-page .email-row,
.admin-page .incident-row {
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s;
  cursor: pointer;
}
.admin-page .incident-row {
  padding: 15px 10px;
}
.admin-page .email-row:hover,
.admin-page .incident-row:hover {
  background: #f5f5f5;
}
.admin-page .admin-section.admin-emails .table .body {
  gap: 5px;
}
.admin-emails .app-modal .email-content {
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
}
.admin-emails .app-modal .email-content .email-body {
  font-size: 15px;
  line-height: 1.6;
}
.admin-emails .app-modal h5 {
  margin-bottom: 20px;
  padding-left: 5px;
  font-size: 14px;
}
.admin-emails .app-modal h5 span {
  font-weight: 600;
  color: #333;
}

.admin-page .admin-incidents.admin-section .table .body {
  gap: 5px;
}
.admin-incidents .app-modal p {
  margin-bottom: 20px;
}
.admin-incidents .app-modal .appswitch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 15px;
}
.admin-incidents .app-modal .appswitch h6 {
  font-size: 14px;
  font-weight: 600;
  color: var(--graytxt);
}

.admin-settings {
  width: 100%;
}
.admin-settings section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 30px;
}
.admin-settings section > h4 {
  grid-column: 1/-1;
}
.admin-settings section .appswitch,
.admin-settings section .color-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
}
.admin-settings section .appswitch h6,
.admin-settings section .color-input h6 {
  font-size: 13px;
  color: var(--graytxt);
}
.admin-settings section .color-input input {
  padding: 0 4px;
  width: 200px;
}
.admin-settings .btn-group {
  display: flex;
  align-items: center;
  gap: 25px;
}
