.quiz-card {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);
}
.quiz-card > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.quiz-card > div.right {
  gap: 25px;
}
.quiz-card h4 i {
  margin-right: 15px;
}
.quiz-card .fa-align-center {
  color: var(--color);
}
.quiz-card .fa-info-circle {
  color: var(--graytxt);
  opacity: 0.8;
  cursor: pointer;
  padding: 5px;
}
.quiz-card .tooltip {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 250px;
  border-radius: 10px;
  padding: 5px 10px;
  background: rgba(0,0,0,0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.quiz-card .tooltip p {
  font-size: 12px;
  color: rgba(255,255,255,0.9);
  line-height: 1.5;
}
.quiz-card .fa-info-circle:hover + .tooltip {
  visibility: visible;
  opacity: 1;
  bottom: 30px;
}

.quiz-card .icon-container {
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-card .icon-container i {
  color: var(--color);
}
.quiz-card:hover .icon-container {
  opacity: 1;
}
.quiz-card .icon-container:hover {
  background: var(--lightestblue);
}
.quiz-card .mobile-edit-btn {
  display: none;
}

@media (max-width: 600px) {
  .quiz-card {
    height: auto;
    flex-direction: column;
    gap: 0;
  }
  .quiz-card > div {
    flex-direction: column;
  }
  .quiz-card > div.right {
    gap: 10px;
    margin-top: 20px;
  }
  .quiz-card h4 {
    font-size: 20px;
  }
  .quiz-card .fa-align-center {
    display: none;
  }
  .quiz-card .icon-container {
    display: none;
  }
  .quiz-card .mobile-edit-btn {
    display: block;
  }
  .quiz-card .tooltip,
  .quiz-card .fa-info-circle {
    display: none;
  }

}