html, body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  overflow: overlay; 
}    
  
:root { 
  --color: #2f86ff;
  --lightblue: #2a90ef;
  --lighterblue: #6cbdf8;
  --lightestblue: rgb(211, 237, 255,0.4);
  --bg: #f8f8fc;
  --red: #f1605e;
  --green: #67cf00;
  --lightRed: #f1605e2a;
  --orange: #f5c136;
  --blueShadow: 0 13px 15px 5px rgba(47, 81, 232, 0.12);
  --blueGradient: linear-gradient(90deg, rgba(47,134,255,1) 10%, rgba(120,194,249,1) 100%);
  --shadow: 0 5px 10px rgba(0,0,0,0.1);
  --graytxt: #696e93;
  --white1: #fff;
  --white2: #fff;
  --dark1: #141719;
  --dark2: #191e22;
}  
.grid {
  width: 1320px; 
  margin: auto;
}
.xgrid {
  padding: 50px 0;
}
.spacer {
  height: 50px;
}
.spacer-s {
  height: 30px;
}
.spacer-m {
  height: 50px;
}
.spacer-l {
  height: 100px;
} 
* {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
::selection {
  background: var(--color);
  color: white;
}
::-webkit-scrollbar {
  width: 9px;
  height: 10px;
} 
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 10px;
}
.hidescroll::-webkit-scrollbar {
  display: none;
} 
img {
  object-fit: cover;
  max-width: 100%;
}
button {
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
  background: var(--color);
}
button.shadow-hover:hover {
  box-shadow: var(--blueShadow);
}
button.delete-btn {
  background: var(--red);
}
button:active {
  transform: scale(0.96)
}
a { 
  text-decoration: none;
  color: #111;
}
a.linkable:hover {
  text-decoration: underline;
}
p {
  line-height: 1.8;
}
input, select, textarea {
  padding: 13px 10px;
  border: 1px solid #eee;
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  transition: all 0.3s;
  font-family: inherit;
} 
input::placeholder, textarea::placeholder {
  color: #bbb;
}
input:disabled {
  background: #f1f1f1
}
hr {
  border: none;
}
.linkable {
  cursor: pointer;
}
.capitalize {
  text-transform: capitalize
}
.app-container.noscroll {
  overflow-y: hidden;
  height: 100vh;
}
.commoninput h6 {
  cursor: auto;
}
a.hide {
  display: none;
}
.notifscont {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex {
  display: flex;
}
.flexdown {
  flex-direction: column;
}
.sb {
  justify-content: space-between;
}
.ac {
  align-items: center;
}
.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-boundary {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-boundary h1 {
  font-size: 40px;
  color: #111;
}
.error-boundary h6 {
  font-size: 14px;
  color: #555;
  margin-bottom: 40px;
}
.error-boundary img {
  width: 500px;
}
.error-boundary button {
  padding: 15px 25px;
  font-size: 16px;
  color: #fff;
  background: var(--color);
}
.error-boundary button:hover {
  filter: brightness(110%);
  box-shadow: 0 6px 10px #0088ff2f;
}
.error-boundary button i {
  margin-right: 8px;
}

ul.ais-Hits-list,
.ais-Pagination ul {
  list-style-type: none;
  padding-left: 0;
}
.ais-Pagination {
  margin: 10px 0 20px 0;
}
.ais-Pagination ul {
  display: flex;
  align-items: center;
  gap: 5px;
}
.ais-Pagination ul li {
  width: 30px;
  height: 30px;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}
.ais-Pagination ul li:hover {
  background: #d9d9d9;
}
.ais-Pagination ul li span {
  font-size: 24px;
}
.ais-Pagination ul li.ais-Pagination-item--selected {
  background: var(--color);
}
.ais-Pagination ul li.ais-Pagination-item--selected a {
  color: #fff;
}
.ais-Pagination .ais-Pagination-item--disabled span {
  color: #777;
}

@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
}