.app-accordion {
  border: 1px solid #e5e5e5;
  transition: all 0.3s;
}
.app-accordion header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  cursor: pointer;
}
.app-accordion header h5 {
  font-size: 18px;
  font-weight: 600;
  color: #444;
  transition: all 0.2s;
}
.app-accordion header h5.open {
  color: var(--color);
}
.app-accordion header i {
  font-size: 28px;
  color: #444;
  transition: all 0.3s;
}
.app-accordion header i.down {
  transform: rotate(180deg);
  color: var(--color);
}
.app-accordion .content {
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
  overflow: hidden;
}