.appbutton {
  border-radius: 10px;
  background: var(--color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--blueShadow);
  transition: all 0.3s;
  user-select: none;
}
.appbutton:hover {
  box-shadow: 0 16px 15px 5px rgba(47, 81, 232, 0.18);
}