.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 90px;
  background: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navbar .side {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar .side.right {
  gap: 40px;
}
.navbar h1.nav-title {
  color: #333;
  font-size: 28px;
}
.navbar h6.nav-descript {
  color: var(--graytxt);
  font-size: 12px;
  opacity: 0.7;
  width: 240px;
}
.navbar .side hr {
  width: 2px;
  height: 20px;
  background: var(--graytxt);
  opacity: 0.12;
}
.navbar .nav-icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar .nav-icon-btn i {
  color: var(--graytxt);
  font-size: 20px;
  transition: all 0.2s;
}
.navbar .nav-icon-btn:hover i {
  color: var(--color)
}
.navbar .nav-icon-btn .notifs-num {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .nav-icon-btn.nav-notifs .notifs-num {
  background: var(--red)
}
.navbar .nav-icon-btn.nav-messages .notifs-num {
  background: var(--color)
}
.navbar .nav-icon-btn .notifs-num small {
  font-size: 9px;
  color: #fff;
}
.navbar .nav-profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}
.nav-profile-container .img-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.nav-profile-container .img-container img {
  border-radius: 100%;
  width: 35px;
  height: 35px;
}
.nav-profile-container .img-container i {
  font-size: 20px;
}
.nav-profile-container .text-info-container {
  display: flex; 
  flex-direction: column;
}
.nav-profile-container .text-info-container h5 {
  font-size: 13px;
}
.nav-profile-container .text-info-container a {
  font-size: 11px;
  color: var(--graytxt);
  font-weight: 600;
}