.page-search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page-search-bar h2 {
  font-size: 30px;
  font-weight: 600;
  color: #333;
}
.page-search-bar h6 {
  color: #aaa;
  font-weight: 500;
  font-size: 15px;
}
.page-search-bar section.search-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}
.page-search-bar section.search-section button {
  padding: 20px 25px;
  font-size: 17px;
}
.page-search-bar section.search-section button i {
  margin-left: 10px;
}
.page-search-bar .searchbar {
  margin: 10px 0;
}
.page-search-bar .searchbar input {
  font-size: 17px;
}

.page-search-bar .algolia-search-box.full {
  width: 100%;
}
.page-search-bar .algolia-search-box.adapt {
  width: 60%;
}
.page-search-bar .search-dropdown {
  position: absolute;
  top: 150px;
  width: 877px;
  background: #fff;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 0;
  z-index: 100;
}
.page-search-bar .search-dropdown .search-hit-row {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.page-search-bar .search-dropdown .search-hit-row > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.page-search-bar .search-dropdown .search-hit-row h5 {
  color: #333;
}
.page-search-bar .search-dropdown .search-hit-row h6 {
  color: var(--graytxt);
  font-weight: 600;
  font-size: 13px;
}
.page-search-bar .search-dropdown .search-hit-row small {
  color: #aaa;
  font-weight: 500;
  font-size: 13px;
}

.page-search-bar .ais-SearchBox-form {
  display: flex;
  align-items: center;
  gap: 10px;
}
.page-search-bar .ais-SearchBox-form input {
  height: 60px;
  border-radius: 10px;
}
.page-search-bar .ais-SearchBox-form button {
  height: 60px;
}
.page-search-bar .ais-SearchBox-form button:hover {
  box-shadow: var(--blueShadow);
}
.page-search-bar .ais-SearchBox-form button svg {
  width: 18px;
  height: 18px;
  color: #fff;
}


@media (max-width: 600px) {
  .page-search-bar .search-section {
    flex-direction: column;
    width: 100%;
  }
}