.searchbar {
  background: #fff;
  box-shadow: 0 7px 20px 0px rgba(0,0,0,0.08);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px;
}
.searchbar .icon-container {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar .icon-container i {
  color: #fff;
  font-size: 15px;
}
.searchbar .appinput {
  width: calc(100% - 35px);
}
.searchbar input {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.searchbar input::placeholder {
  font-weight: 600;
  color: #d5d5d5;
}
.searchbar.focusable input:focus {
  box-shadow: 0 7px 20px 0px rgba(45, 84, 255,0.09);
}