.sidebar {
  background: var(--bg);
  padding: 20px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-bottom: 50px;
}
.sidebar .logo-container {
  width: 100%;
  gap: 18px;
}
.sidebar .logo-container img {
  width: 30px;
}
.sidebar .logo-container h3 {
  text-transform: capitalize;
  font-size: 21px;
  color: #555;
}
.sidebar .logo-container h3 span {
  color: var(--lightblue);
}
.sidebar .menu {
  margin-top: 50px;
  gap: 10px;
}
.sidebar .menu .menu-item {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 170px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.sidebar .menu .menu-item i {
  width: 20px;
  font-size: 23px;
  color: var(--color);
  margin-right: 20px;
}
.sidebar .menu .menu-item h6 {
  font-size: 15px;
  color: var(--graytxt);
}
.sidebar .menu .active-menu-link {
  background: var(--color);
  box-shadow: 0 16px 15px 5px var(--blueShadow);
  border-radius: 10px;
}
.sidebar .menu .menu-item:hover {
  background: var(--color);
}
.sidebar .menu .menu-item:hover i,
.sidebar .menu .active-menu-link i {
  color: #fff;
}
.sidebar .menu .menu-item:hover h6,
.sidebar .menu .active-menu-link h6 {
  color: #fff;
  font-weight: 500;
}