.video-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  transition: all 0.2s;
  cursor: pointer;
}
.video-row:hover {
  background: var(--lightestblue)
}
.video-row .side {
  display: flex;
  align-items: center;
  gap: 20px;
}
.video-row h6 {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.video-row .side i {
  color: var(--color);
}