.add-comment-container .rating-setter {
  display: flex;
  align-items: center;
  gap: 2px;
}
.add-comment-container .rating-setter i {
  font-size: 19px;
  color: var(--orange);
  cursor: pointer;
}
.add-comment-container .rating-setter .appinput {
  margin-left: 20px;
  margin-right: 10px;
  width: 65px;
}
.add-comment-container .rating-setter .appinput input {
  height: 40px;
  font-size: 16px;
  color: #555;
  border: 1px solid #eee;
  border-radius: 10px;
}
.add-comment-container .rating-setter small {
  font-size: 11px;
  color: #aaa;
}
.add-comment-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}
.add-comment-container form .commoninput {
  width: 100%;
}
.add-comment-container form .appinput input,
.add-comment-container form .apptextarea textarea {
  border-radius: 10px;
  border: 1px solid #eee;
  height: 50px;
  font-size: 15px;
  color: #444;
}
.add-comment-container form .apptextarea textarea {
  min-height: 120px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
}
.add-comment-container form button {
  color: #fff;
  padding: 15px 20px;
  justify-content: flex-start;
  transition: all 0.2s;
}
.add-comment-container form button:hover {
  box-shadow: var(--blueShadow);
}